/* // X-Small devices (portrait phones, less than 576px) */
@media (max-width: 575.98px) {
    .section-headding {
        text-align: center;
        padding-bottom: 50px;
    }
    .section-padding p {
        width: auto !important;
        margin: 0 auto;
    }
    .section-headding h4 {
        margin-bottom: 18px;
        font-size: 25px;
        line-height: 35px;
    }
    #navbar {
        padding:10px 0px;
    }
    #navbar .navbar-nav li a {
        padding: 10px 20px;
    
    }
    #navbar .navbar-nav li a::before {
        display: none;
    }
    #banner_section {
        position: relative;
    }
    .banner-image::after {
        display: none;
    }
    #banner_section .persont-left {
        top: 0px !important;
        left: 0px !important;
    }
    #banner_section .persont-left h5 {
        color: #fff;
    }
    #banner_section .persont-left p {
        font-size: 14px;
        line-height: 27.2px;
        letter-spacing: 0.5px;
        color: #3c4858;
        color: #fff;
        font-family: 'Roboto', sans-serif;
    }
    #banner_section .persont-right h1 {
        color: #fff;
        line-height: initial;
        font-size: 45px;
        position: relative;
        z-index: 1;
    }
    .banner-overlay {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        width: 1000%;
        height: 100%;
        background: linear-gradient(
            to bottom,
            rgba(248, 157, 54, 0) 0%,
            rgba(248, 157, 54, 0.25) 25%,
            rgba(248, 157, 54, 0.5) 50%,
            rgba(248, 157, 54, 0.75) 75%,
            #f89d36 100%
        ) !important;
    }
    .banner-image .row {
        margin-top: 225px;
        margin-bottom: 50px;
    }
    /* about section start here  */
    #about .section-headding {
        padding: 50px 0px;
    }

    /* about section end here  */
    /* services section start here  */
    section#services .section-headding {
        margin-bottom: 50px;
    }
    /* services section end here  */
    .singleWork {
        flex-direction: column;
        padding-left: 50px;
    }
    .singleWork:nth-child(odd) .left {
        text-align: left;
    }
    .singleWork .left {
        width: 100%;
    }
    .singleWork .right {
        width: 100%;
    }
    .singleWork:nth-child(even) {
        flex-direction: column;
    }
    .singleWork:nth-child(even) .right {
        text-align: left;
    }
    #work_section .flex-container::before {
        left: 4%;
        top: 0px;
    }
    #work_section .singleWork::before {
        left: 4%;
        top: 9px;
    }
    #work_section .singleWork::after {
        left: 4%;
    }
    /* cat section start here  */
    #cat_section .section-headding p {
        width: auto;
    }
    /* cat section end here  */
    /* Portofolio section  stat here  */
    .portofolio-item {
        margin-bottom: 25px;
    }
    /* Portofolio section  end here  */
}

/* // Small devices (landscape phones, less than 768px) */
@media (max-width: 767.98px) {
    .section-padding {
        padding: 50px 0px;
    }
    .section-padding p {
        width: auto;
        margin: 0 auto;
    }
    /* about section start here  */
    #about .section-headding {
        padding: 50px 0px;
    }

    /* about section end here  */
    /* services section start here  */
    section#services .section-headding {
        margin-bottom: 50px;
    }
    #navbar {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        transition: all 0.4s ease;
        z-index: 9999;
        background: #fffaf5 !important;
        /* padding: 15px 0px; */
    }
    .banner-image::after {
        content: '';
        position: absolute;
        top: 50%;
        left: 45%;
        width: 500px;
        height: 500px;
        background: #f89d36;
        border-radius: 100%;
        transform: translateX(-50%);
        z-index: -1;
    }
    #banner_section .persont-left {
        border-radius: 0;
        backdrop-filter: none;
        background-color: transparent;
        z-index: 1;
        padding: 24px;
        top: 0;
    }
    #banner_section .persont-left h5 {
        color: #fff;
    }
    #banner_section .persont-left p {
        font-size: 14px;
        line-height: 27.2px;
        letter-spacing: 0.5px;
        color: #3c4858;
        color: #fff;
        font-family: 'Roboto', sans-serif;
    }
    #banner_section .persont-right h1 {
        color: #fff;
        line-height: initial;
        font-size: 45px;
        position: relative;
        z-index: 1;
    }
    .banner-overlay {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        width: 1000%;
        height: 100%;
        background: linear-gradient(
            to bottom,
            rgba(248, 157, 54, 0) 0%,
            rgba(248, 157, 54, 0.25) 25%,
            rgba(248, 157, 54, 0.5) 50%,
            rgba(248, 157, 54, 0.75) 75%,
            #f89d36 100%
        ) !important;
    }
    .banner-image .row {
        margin-top: 225px;
        margin-bottom: 50px;
    }
    #banner_section .persont-left {
        top: 0px !important;
        left: 0px !important;
    }
}

/* // Medium devices (tablets, less than 992px) */
@media (max-width: 991.98px) {
    .section-padding {
        padding: 50px 0px;
    }
    .section-padding p {
        width: auto;
        margin: 0 auto;
    }
    #navbar {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        transition: all 0.4s ease;
        z-index: 9999;
        background: #fffaf5 !important;
        /* padding: 10px 0px; */
    }
    /* banner section start here */
    .banner-image {
    
        background-attachment: scroll;
    }
    /* banner section end here */
    /* about section start here  */
    #about .section-headding {
        padding: 50px 0px;
    }
    /* about section end here  */
    /* services section start here  */
    section#services .section-headding {
        margin-bottom: 50px;
    }
}

/* // Large devices (desktops, less than 1200px) */
@media (max-width: 1199.98px) {
}

/* // X-Large devices (large desktops, less than 1400px) */
@media (max-width: 1399.98px) {
}
